# First Steps: Initial Setup

## Getting Started

Please look in the ```README.md``` to get started.

## SQL Magic

Jupyter notes support the concept of ["magics."](https://www.tutorialspoint.com/jupyter/ipython_magic_commands.htm). Running the cell below provides some information about magics.

In [1]:
%magic

[iPython-sql](https://pypi.org/project/ipython-sql/) is a useful magic for interacting with SQL databases. You can install and make the magic available by installing. The following cell will usually install the package. If the installation fails,
1. Follow the [instructions for Anaconda.](https://anaconda.org/conda-forge/ipython-sql)
2. Use web search with the error messages to see how others have solved the problem.

Contact the TA or professor if you cannot install the package.

Now bring the magic into the notebook's environment.

In [2]:
%load_ext sql

## Using the Magic

The first step in using the magic is to connect to your MySQL database server. You need to put your root user name and password in the code before executing the cells below. My values are in the cells for the demo.

In [3]:
db_user = "root"
db_password = "dbuserdbuser"

In [4]:
connection_string_template = "mysql+pymysql://{db_user}:{db_password}@localhost"
connection_string = connection_string_template.format(db_user=db_user, db_password=db_password)
connection_string

'mysql+pymysql://root:dbuserdbuser@localhost'

In [5]:
%sql $connection_string

The notebook is now connected to the database server.

## Contacts Data Setup

The first step is to create a database (also known) as a schema in the database server.

In [6]:
%sql create database if not exists contacts

 * mysql+pymysql://root:***@localhost
1 rows affected.

[]

The second step is to set the new database as the default database, and then create your first table.

Be very careful because the script drops the table (deletes the table). You loose any data if you previously used the table.

In [7]:
%sql use contacts

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

In [8]:
%sql drop table if exists phone

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

There is a [comma separated value](https://en.wikipedia.org/wiki/Comma-separated_values) file
that contains some simulated data created with [Mockaroo](https://www.mockaroo.com/). I have a paid account on Mockaroo, which means you may not be able to create and download sample data that I am able to create.

We will write a simple Python script to load the data from the file into the database.

In [9]:
import pymysql

In [10]:
# This create a connection from the notebook environment to the database server.
# Do not worry about what all the parameters mean.
#
# You must have set the values for db_user and db_password above.
#
conn = pymysql.connect(
    host="localhost",
    port=3306,
    user=db_user,
    password=db_password,
    cursorclass=pymysql.cursors.DictCursor,
    autocommit=True)

In [11]:
conn

In [12]:
# Use a simple Python library for CSV files to read the data.
#
import csv

new_rows = []

# Open the file for reading and then wrap with a CSV reader class.
with open('./phoneInfo.csv') as in_text_file:
    csv_file = csv.DictReader(in_text_file)
    for r in csv_file:
        new_rows.append(r)

In [13]:
# Let's look at the data
new_rows

[{'phoneNo': '4044056253', 'accountId': '123'},
 {'phoneNo': '1234567890', 'accountId': '456'},
 {'phoneNo': '3123456789', 'accountId': '789'}]

Columns in relational databases have [types.](https://www.tutorialspoint.com/sql/sql-data-types.htm) Specific products implementing SQL databases usually have modifications and extensions. For now, we will just treat all of the data as "strings." So, we are going to create the table and its columns. We will use the SQL magic just for the heck of it.

In [14]:
%%sql

create table if not exists phone
(
    phoneNo bigint not NULL
        primary key,
    accountId int not null
);

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

We can examine the table's structure.

In [15]:
%sql describe phone

 * mysql+pymysql://root:***@localhost
2 rows affected.

[('phoneNo', 'bigint', 'NO', 'PRI', None, ''),
 ('accountId', 'int', 'NO', '', None, '')]

- The SQL operation for creating a row is ```INSERT.```


- We will make a template string statement for the insert.

In [16]:
# The %s are placeholders for adding values.
insert_sql = """
    insert into contacts.phone(phoneNo, accountId)
    values(%s,%s)
"""

Now loop through the data and do the inserts.

In [17]:
# Do now worry about what a cursor is for now.
#
cur = conn.cursor()

In [19]:
for r in new_rows:
    print(list(r.values()))
    print("SQL = ", cur.mogrify(insert_sql, list(r.values())))
    res = cur.execute(insert_sql,list(r.values()))

['4044056253', '123']
SQL =
    insert into contacts.phone(phoneNo, accountId)
    values('4044056253','123')

['1234567890', '456']
SQL =
    insert into contacts.phone(phoneNo, accountId)
    values('1234567890','456')

['3123456789', '789']
SQL =
    insert into contacts.phone(phoneNo, accountId)
    values('3123456789','789')

Let's see if we can find our data.

In [20]:
%sql select * from contacts.phone;

 * mysql+pymysql://root:***@localhost
3 rows affected.

[(1234567890, 456), (3123456789, 789), (4044056253, 123)]

## Email Set up

In [21]:
%sql drop table if exists email

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

In [22]:
new_rows = []

# Open the file for reading and then wrap with a CSV reader class.
with open('./emailInfo.csv') as in_text_file:
    csv_file = csv.DictReader(in_text_file)
    for r in csv_file:
        new_rows.append(r)

In [23]:
%%sql

create table if not exists email
(
    emailAddress varchar(40) not NULL
        primary key,
    accountId int not null
);

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

In [24]:
%sql describe email

 * mysql+pymysql://root:***@localhost
2 rows affected.

[('emailAddress', 'varchar(40)', 'NO', 'PRI', None, ''),
 ('accountId', 'int', 'NO', '', None, '')]

In [26]:
insert_sql = """
    insert into contacts.email
    values(%s,%s)
"""
for r in new_rows:
    print(list(r.values()))
    print("SQL = ", cur.mogrify(insert_sql, list(r.values())))
    res = cur.execute(insert_sql,list(r.values()))

['yj2737@columbia.edu', '123']
SQL =
    insert into contacts.email
    values('yj2737@columbia.edu','123')

['test1@columbia.edu', '456']
SQL =
    insert into contacts.email
    values('test1@columbia.edu','456')

['test2@columbia.edu', '789']
SQL =
    insert into contacts.email
    values('test2@columbia.edu','789')

## Address Setup

In [30]:
%sql drop table if exists address

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

In [31]:
%%sql create table if not exists address
(
    id int not NULL
        primary key,
    accountId int not null,
    street varchar(40) not null, 
    aptNo int not null, 
    city varchar(40) not null, 
    state varchar(5) not null, 
    zip int not null   
);

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

In [33]:
%sql describe address

 * mysql+pymysql://root:***@localhost
7 rows affected.

[('id', 'int', 'NO', 'PRI', None, ''),
 ('accountId', 'int', 'NO', '', None, ''),
 ('street', 'varchar(40)', 'NO', '', None, ''),
 ('aptNo', 'int', 'NO', '', None, ''),
 ('city', 'varchar(40)', 'NO', '', None, ''),
 ('state', 'varchar(5)', 'NO', '', None, ''),
 ('zip', 'int', 'NO', '', None, '')]

In [34]:
new_rows = []

# Open the file for reading and then wrap with a CSV reader class.
with open('./addressInfo.csv') as in_text_file:
    csv_file = csv.DictReader(in_text_file)
    for r in csv_file:
        new_rows.append(r)

In [35]:
insert_sql = """
    insert into contacts.address
    values(%s,%s,%s,%s,%s,%s,%s)
"""
for r in new_rows:
    print(list(r.values()))
    print("SQL = ", cur.mogrify(insert_sql, list(r.values())))
    res = cur.execute(insert_sql,list(r.values()))

['1', '123', '400 W 113 St', '119', 'New York', 'NY', '10025']
SQL =
    insert into contacts.address
    values('1','123','400 W 113 St','119','New York','NY','10025')

['2', '456', '50 W 109 St', '234', 'New York', 'NY', '10024']
SQL =
    insert into contacts.address
    values('2','456','50 W 109 St','234','New York','NY','10024')

['3', '789', '1080 Amsterdam Avenue', '431', 'New York', 'NY', '10026']
SQL =
    insert into contacts.address
    values('3','789','1080 Amsterdam Avenue','431','New York','NY','10026')

## Card Setup

In [36]:
%sql drop table if exists payment

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

In [37]:
%%sql create table if not exists payment
(
    cardNo bigint not NULL
        primary key,
    accountId int not null,
    cvc int not null, 
    expirationDate varchar(12) not null, 
    holderFirst varchar(12) not null, 
    holderLast varchar(12) not null, 
    cardType ENUM ('D', 'C'),
    billingAddressId int not null
);

 * mysql+pymysql://root:***@localhost
0 rows affected.

[]

In [38]:
%sql describe payment

 * mysql+pymysql://root:***@localhost
8 rows affected.

[('cardNo', 'bigint', 'NO', 'PRI', None, ''),
 ('accountId', 'int', 'NO', '', None, ''),
 ('cvc', 'int', 'NO', '', None, ''),
 ('expirationDate', 'varchar(12)', 'NO', '', None, ''),
 ('holderFirst', 'varchar(12)', 'NO', '', None, ''),
 ('holderLast', 'varchar(12)', 'NO', '', None, ''),
 ('cardType', "enum('D','C')", 'YES', '', None, ''),
 ('billingAddressId', 'int', 'NO', '', None, '')]

In [39]:
new_rows = []

# Open the file for reading and then wrap with a CSV reader class.
with open('./cardInfo.csv') as in_text_file:
    csv_file = csv.DictReader(in_text_file)
    for r in csv_file:
        new_rows.append(r)

In [40]:
insert_sql = """
    insert into contacts.payment
    values(%s,%s,%s,%s,%s,%s,%s, %s)
"""
for r in new_rows:
    print(list(r.values()))
    print("SQL = ", cur.mogrify(insert_sql, list(r.values())))
    res = cur.execute(insert_sql,list(r.values()))

['1234567812345678', '123', '111', '10/25', 'Clarence', 'Jiang', 'D', '1']
SQL =
    insert into contacts.payment
    values('1234567812345678','123','111','10/25','Clarence','Jiang','D', '1')

['2234567822345678', '456', '222', '11/25', 'Brian', 'Hello', 'C', '2']
SQL =
    insert into contacts.payment
    values('2234567822345678','456','222','11/25','Brian','Hello','C', '2')

['3234567842345678', '789', '333', '12/25', 'Donald', 'Ferguson', 'C', '3']
SQL =
    insert into contacts.payment
    values('3234567842345678','789','333','12/25','Donald','Ferguson','C', '3')